.env

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.pytest_cache/
.coverage
htmlcov/


.vscode/
.idea/
*.swp
*.swo
.DS_Store

repo/

*.log

instance/
.webassets-cache

.ipynb_checkpoints/

node_modules/