OPENAI_API_KEY=your_openai_key_here
MONGODB_CONNECTION_STRING = your_connection_string_here
MONGODB_DB_NAME = your_db_name_here
MONGODB_COLLECTION_NAME = your_collection_name_here
MONGODB_INDEX_NAME = your_index_name_here
GITHUB_ACCESS_TOKEN = your_github_access_token_here
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_TRACING= true_or_false
LANGSMITH_PROJECT='github-rag-agent'
GITHUB_OAUTH_CLIENT_ID = your_client_id
GITHUB_OAUTH_CLIENT_SECRET = your_client_secret
FLASK_APP_SECRET = your_flask_app_secret