flask
flask-cors
flask-dance
flask-login
flask-socketio
eventlet
pymongo
openai
tiktoken
langchain
langchain-core
langchain-community
langchain-openai
langchain-mongodb
langchain-text-splitters
langgraph
langgraph-checkpoint-mongodb
langsmith
python-dotenv
requests

# Testing
pytest
pytest-mock
